body {
  font-family: 'Montserrat', sans-serif;
  src: 'https://fonts.googleapis.com/css2?family=Montserrat';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
